.container{
    background: #222222;
    color:#fff;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 35px 0px 15px;
    margin-top: auto;
}
.links{
    color: rgba(255, 255, 255, .5);
    transition: all .3s linear;
}
.links:hover{
    color: #fff;
}