.container {
  position: relative;
  width: 25%;
}
.container::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../../public/sidebar-3.jpg") no-repeat center/cover;
  min-height: 100vh;
  filter: brightness(30%);
}
.divider {
  height: 1px;
  background-color: rgba(180, 180, 180, 0.3);
  width: 90%;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.link {
  width: 100%;
  padding: 15px 15px;
  margin: 3px 0;
  transition: all 0.1s linear;
  color: #fff !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.link:hover {
  background-color: rgba(180, 180, 180, 0.3);
}
.active {
  width: 100%;
  padding: 15px 15px;
  margin: 3px 0;
  transition: all 0.1s linear;
  color: #fff !important;
  background-color: #4caf50;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
