@font-face {
  font-family: "Anurati";
  src: url("./assets/fonts/Anurati-Regular.eot") format("embedded-opentype"),
    url("./assets/fonts/Anurati-Regular.woff2") format("woff2"),
    url("./assets/fonts/Anurati-Regular.woff") format("woff"),
    url("./assets/fonts/Anurati-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  scroll-behavior: smooth !important;
}
body{
  position: relative;
  overflow-x: hidden;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #D8DEE7;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}