.container {
  width: 75%;
  margin-left: 25%;
  position: absolute;
  background: #eeeeee;
  min-height: 100vh;
  padding: 50px 40px 30px;
}
.content {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  max-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 65px 0 0;
  border-radius: 6px;
}
.tableContainer {
  height: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  padding: 0 15px;
}
.assignmentContainer {
  position: absolute;
  top: -20px;
  left: 15px;
  display: flex;
  align-items: flex-end;
  gap: 15px;
  z-index: 10;
}
.assignmentContainer h5{
    margin-bottom: 3px;
    font-weight: 300;
}
.assignment {
  padding: 18px;
  border-radius: 3px;
  background: #4caf50;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(76 175 80 / 40%);
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin-left: 0;
    align-items: none;
    padding: 100px 25px 30px !important;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 135px 55px 30px !important;
  }
  .table {
    max-height: calc(100vh - 245px);
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 135px 25px 30px !important;
  }
  .table {
    max-height: calc(100vh - 180px);
  }
}
