.container{
    padding: 110px 10px 0;
    height: 100%;
    margin-bottom: 40px;
}
.closeButton {
    position: absolute !important;
    top: 5px;
    right: 10px;
  }
  .parentModal {
    width: 500px;
  }

@media screen and (max-width: 576px) {
    .parentModal{
        width: 310px;
    }
}