.container{
    padding-top: 110px;
    height: 100%;
}
.contentContainer{
    min-height: 530px;
}
@media screen and (max-width:768px) {
    .contentContainer{
        min-height: fit-content;
    }
    .content{
        border-radius: 1px !important;
    }
}
@media screen and (max-width:992px) {
    .content{
        border-radius: 8px !important;
    }
}